* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #070707;
    color: rgba(255, 255, 255, 0.881);
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

img{
    pointer-events: none;
    user-select: none;
}
.face {
    height: 12vh;
    border-radius: 50%;
}

.content {
    position: absolute;
    top: 0;
}

.container {
    text-align: center;
    margin-top: 8vh;
    width: 80vw;
    margin-left: 10vw;
    word-wrap: break-word;
}

.small {
    font-size: 1rem;
}

a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.834);
    -webkit-tap-highlight-color: transparent;
}

hr {
    border: none;
    border-top: 1px solid #484a5195;
    margin: 30px;
    width: 70vw;
    margin-left: 15vw;

}

.links {
    text-align: center;
}

.linka {
    padding: 2vh;
    width: 80vw;
    position: absolute;
    left: 0vw;
    margin-top: -1.5vh;
}


.link {
    backdrop-filter: blur(6px);
    background-color: #07070785;
    border-radius: 5px;
    margin: 2vh;
    margin-left: 7vw;
    border:1px solid rgba(43, 43, 43, 0.848);
    padding: 2vh;
    height: 4vh;
    width: 80vw;
    transition-duration: 0.2s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}
.link:hover {
    background-color: #161616b3;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7), 0 6px 20px 0 rgba(0, 0, 0, 0.7);
}

#socials {
    width: 30px;
    padding: 10px;
    margin-left: 0;
    margin-right: 0;
}

#socials a {
    width: 30px;
}

#socials a img {
    margin-top: -5px;
}

.socialsBox {
    width: 90vw;
    margin-left: 5vw;
    justify-content: space-around;
    display: flex;
    flex-direction: row;
}
.icon {
    filter: brightness(0) invert(1);
    width: 3.5vh;
    position: absolute;
    left: 1.5vh;
    top: 2.25vh;
    transition-duration: 0.2s;
}
#portfolio {
    filter: saturate(0) brightness(1.1);
}


.link:hover .icon {
    filter: brightness(1) invert(0);
}


.link:hover #portfolio {
    filter: saturate(1) brightness(1);
}

.link:hover .journal {
    filter: brightness(0) invert(1);
}

.mail {
    width: 3.5vh;
    transition-duration: 0.2s;
}

.mail:hover {
    transform: scale(1.1);
}

.category {
    margin-left: 0vw;
    font-size: 1.1rem;
    width: 100vw;
}

@media (min-width: 600px) {
    .link {
        width: 40vw;
        margin-left: 30vw;
    }

    .linka {
        width: 40vw;
    }

    hr {
        width: 30vw;
        margin-left: 35vw;
    }

    .socialsBox {
        width: 30vw;
        margin-left: 43vw;
        transform: translate(-25%);
    }
}
