* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #070707;
    color: rgba(255, 255, 255, 0.881);
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

img{
    pointer-events: none;
    user-select: none;
}
.face {
    height: 12vh;
    border-radius: 50%;
}

.container {
    padding: 10px;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: calc(100vw - 20px);
    max-width: 500px;
    margin: auto;
    text-align: center;
}

.small {
    font-size: 1rem;
}

a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.834);
    -webkit-tap-highlight-color: transparent;
}

hr {
    border: none;
    border-top: 1px solid #484a5195;
    margin: 30px 0;
    width: 70vw;
}

.linka {
    width: 100%;
    padding-right: 22px;
}

.link {
    display: flex;
    align-items: center;
    backdrop-filter: blur(6px);
    background-color: #07070785;
    margin: 5px;
    border:1px solid rgba(43, 43, 43, 0.848);
    padding: 10px;
    width: calc(100% - 30px);
    transition-duration: 0.2s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}
.link:hover {
    background-color: #161616b3;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7), 0 6px 20px 0 rgba(0, 0, 0, 0.7);
}

.icon {
    filter: brightness(0) invert(1);
    height: 22px;
    transition-duration: 0.2s;
}
#portfolio {
    filter: saturate(0) brightness(1.1);
}

.link:hover .icon {
    filter: brightness(1) invert(0);
}

.link:hover #portfolio {
    filter: saturate(1) brightness(1);
}

.link:hover .journal {
    filter: brightness(0) invert(1);
}

.mail {
    height: 22px;
    transition-duration: 0.2s;
}

.mail:hover {
    transform: scale(1.1);
}

.category {
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 1.1rem;
}

@media (min-width: 600px) {
    hr {
        width: 30vw;
    }
}
